@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
} */

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */

:root {
  --background: oklch(0.98 0.005 181.912);
  --foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --card: oklch(0.96 0.01 181.912);
  --card-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --popover: oklch(0.96 0.01 181.912);
  --popover-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --primary: oklch(0.777 0.152 181.912);
  --primary-foreground: oklch(0.02 0.1216 181.912);
  --secondary: oklch(0.92 0.0152 181.912);
  --secondary-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --muted: oklch(0.92 0.0152 181.912);
  --muted-foreground: oklch(0.49999999999999994 0.0304 181.912);
  --accent: oklch(0.92 0.0152 193.91200000000003);
  --accent-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --destructive: oklch(0.677 0.15 211.912);
  --destructive-foreground: oklch(
    0.29999999999999993 0.09119999999999999 181.912
  );
  --border: oklch(0.9 0.00912 181.912);
  --input: oklch(0.9 0.00912 181.912);
  --ring: oklch(0.7 0.045599999999999995 181.912);
  --chart-1: oklch(0.88 0.17479999999999998 181.91200000000003);
  --chart-2: oklch(0.7170000000000001 0.1596 319.4200000000001);
  --chart-3: oklch(0.797 0.18239999999999998 96.928);
  --chart-4: oklch(0.657 0.152 234.43600000000004);
  --chart-5: oklch(0.837 0.1444 11.944000000000074);
  --sidebar: oklch(0.98 0.005 181.912);
  --sidebar-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --sidebar-primary: oklch(0.777 0.152 181.912);
  --sidebar-primary-foreground: oklch(
    0.3999999999999999 0.09119999999999999 181.912
  );
  --sidebar-accent: oklch(0.92 0.0152 193.91200000000003);
  --sidebar-accent-foreground: oklch(
    0.4999999999999999 0.09119999999999999 181.912
  );
  --sidebar-border: oklch(0.9 0.00912 181.912);
  --sidebar-ring: oklch(0.7 0.045599999999999995 181.912);
  --header: oklch(0.98 0.005 181.912);
  --header-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --footer: oklch(0.98 0.005 181.912);
  --footer-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --code: oklch(0.98 0.005 181.912);
  --code-foreground: oklch(0.4999999999999999 0.09119999999999999 181.912);
  --code-highlight: oklch(0.96 0.01 181.912);
  --code-number: oklch(0.7 0.0304 181.912);
  --code-selection: oklch(0.96 0.01 181.912);
  --code-border: oklch(0.9 0.00912 181.912);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.18 0.0076 181.912);
  --foreground: oklch(0.85 0.01216 181.912);
  --card: oklch(0.22999999999999998 0.01216 181.912);
  --card-foreground: oklch(0.85 0.01216 181.912);
  --popover: oklch(0.22999999999999998 0.01216 181.912);
  --popover-foreground: oklch(0.85 0.01216 181.912);
  --primary: oklch(0.777 0.152 181.912);
  --primary-foreground: oklch(0.02 0.1216 181.912);
  --secondary: oklch(0.28 0.022799999999999997 181.912);
  --secondary-foreground: oklch(0.85 0.01216 181.912);
  --muted: oklch(0.28 0.022799999999999997 181.912);
  --muted-foreground: oklch(0.877 0.022799999999999997 181.912);
  --accent: oklch(0.28 0.022799999999999997 169.91200000000003);
  --accent-foreground: oklch(0.85 0.01216 181.912);
  --destructive: oklch(0.3 0.15 211.912);
  --destructive-foreground: oklch(0.85 0.01216 181.912);
  --border: oklch(0.32999999999999996 0.00912 181.912);
  --input: oklch(0.32999999999999996 0.00912 181.912);
  --ring: oklch(0.55 0.0608 181.912);
  --chart-1: oklch(0.88 0.17479999999999998 181.91200000000003);
  --chart-2: oklch(0.7170000000000001 0.1596 319.4200000000001);
  --chart-3: oklch(0.797 0.18239999999999998 96.928);
  --chart-4: oklch(0.657 0.152 234.43600000000004);
  --chart-5: oklch(0.837 0.1444 11.944000000000074);
  --sidebar: oklch(0.22999999999999998 0.01216 181.912);
  --sidebar-foreground: oklch(0.85 0.01216 181.912);
  --sidebar-primary: oklch(0.777 0.152 181.912);
  --sidebar-primary-foreground: oklch(0.995 0.01216 181.912);
  --sidebar-accent: oklch(0.28 0.022799999999999997 169.91200000000003);
  --sidebar-accent-foreground: oklch(0.85 0.01216 181.912);
  --sidebar-border: oklch(0.32999999999999996 0.00912 181.912);
  --sidebar-ring: oklch(0.55 0.0608 181.912);
  --header: oklch(0.18 0.0076 181.912);
  --header-foreground: oklch(0.85 0.01216 181.912);
  --footer: oklch(0.18 0.0076 181.912);
  --footer-foreground: oklch(0.85 0.01216 181.912);
  --code: oklch(0.22999999999999998 0.01216 181.912);
  --code-foreground: oklch(0.85 0.01216 181.912);
  --code-highlight: oklch(0.577 0.01 181.912);
  --code-number: oklch(0.677 0.022799999999999997 181.912);
  --code-selection: oklch(0.18 0.0076 181.912);
  --code-border: oklch(0.32999999999999996 0.00912 181.912);
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
